.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}

:root{
  --pri-color:#066940;
  --sec-color:#113B08;
  --white-color:#ffffff;
  --black-color:#000000;
}

.title-h2 {
  font-size: 38px;
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .title-h2 {
    font-size: 28px;
    font-weight: 700;
  }
}
p {
  color: #757575;
  margin: 0;
  line-height: 24px;
  font-weight: 400;
}
a, button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
